{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 login-container">
                
                <div class="text-center mb-4">
                    <h2 class="fw-bold">The Cookbook</h2>
                    <p class="text-muted">¡Welcome back, Chef!</p>
                </div>

                <div class="card shadow-sm">
                    <div class="card-body p-5">
                        <form method="POST">{% csrf_token %}
                            {{form|crispy}}

                            <div class="mb-4">
                                <div class="text-end mt-2">
                                    <a href="#" class="text-decoration-none small">Forgot your password?</a>
                                </div>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="text-center mt-4"  id="homepag">
                    <p>Don't have an account? <a href="{% url 'signup' %}" class="text-decoration-none fw-bold">Sign Up</a></p>
                    <a href="{% url 'home' %}" class="text-muted small">← Homepage</a>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock footer %}

